<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cssfile/comment.css' %}" />
    <script defer src="{% static 'jsfile/comment.js' %}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="comment-section">
      <div class="comments" id="comment_block">
        {% for comment in allcomments %}
        <div class="comment">
          <h1>comment by: {{ comment.comment_by.name }}</h1>
          <h3>{{ comment.text }}</h3>
          <br />
        </div>
        {% endfor %}
      </div>
      <input type="hidden" id="commentBy" value="{{recent_user.name}}" />
      <div class="comment-input">
        <form
          id="uploadForm"
          method="POST"
          data-post-url="{% url 'createcomment' %}"
        >
          {% csrf_token %}
          <input
            id="comment"
            type="text"
            placeholder="Your comment"
            name="comment"
            class="comment-field"
            required
          />
          <input id="hide" type="hidden" value="{{post_id}}" name="id" />
          <button type="submit" class="send-button">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
