<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
	<link rel='stylesheet' href="{% static 'cssfile/login.css' %}">

</head>
<body>
	<div class="container">
		<form class="login-form" action="" method="POST">
			{% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
			{% csrf_token %}
			<h2>Forgot Password</h2>
			<div class="form-group">
				<input type="email" name="email" placeholder="Email" required>
			</div>
			<div class="form-group">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>


{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<form method='POST' action="">
    {%csrf_token%}
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <input type=submit>
</form>    