<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection</title>
    <link rel='stylesheet' href="{% static 'cssfile/selection.css' %}">

</head>

<body>
  <form method="post" action="/next-page">
    {% csrf_token %}
    <label>
      <input type="radio" name="gender" value="boy" required> Boy
    </label>
    <label>
      <input type="radio" name="gender" value="girl" required> Girl
    </label>
    <button type="submit">Next</button>
  </form>
</body>
</html>
