.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  height: 450px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.comment {
  margin-bottom: 10px;
}

.comment-input {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  margin-top: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.comment-input {
  /* Existing styles... */
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border: None;

}

.comment-input .comment-field {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
  min-width: 800px;
  height: 40px;
  font-size: 16px;
}

.send-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

.comment-input .send-button {
  width: 80px;
  height: 60px;
}

img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.comment-profile img,
p {
  display: inline-block;
  vertical-align: middle;
}

h4 {
  margin-top: 0px;
}

/* For mobile devices */
@media (max-width: 1068px) {
  .comments {
    height: calc((100vw *170) / 100);
    margin-bottom: -(calc((100vw *5) / 100));
  }

  .comment-input .comment-field {
    min-width: calc((100vw *85) / 100);
    height: 90px;
    margin-top: 5px;
    font-size: 35px;
  }

  .comment-input .send-button {
    width: 120px;
    height: 60px;
    padding: 0px;
    margin-right: 10px;
    margin-top: 25px;
    font-size: 45px;
  }
}