.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  /* Other styles for the fixed header/footer */
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  padding-top: calc((100vw *2) / 100); /* Adjust the top padding to accommodate the fixed header */
  padding-bottom:calc((100vw *2) / 100); /* Adjust the bottom padding to accommodate the fixed footer */
  overflow-y: scroll;
  /* Other styles for the scrollable content */
}

/* Additional styles for the images or content within the main section */
main img {
  display: block;
  margin: calc((100vw *2) / 100) auto; /* Adjust the margin as desired */
}

header nav, footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc((100vw *10) / 100); /* Adjust the height as desired */
}
.comment-icon {
  margin-bottom: 5px; /* Adjust the spacing between the icon and text */
}

.comment-text {
  font-size: 14px; /* Adjust the font size as needed */
}

/* Media query for mobile devices */
@media (max-width:800px) {
  main img {
      width: 100%;
      height: auto;
      
  }

}
/* Remove underline from anchor tags */
a {
text-decoration: none;
}

/* Style for the buttons */
.btn-home,
.btn-post,
.btn-notification {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
color: brown; /* Adjust the color as needed */
}

/* Style for the labels */
.btn-label {
margin-top:calc((100vw *1) / 100); /* Adjust the spacing between the logo and label */
}

header {
display: flex;
align-items: center;
}

.profile-pic {
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
background-color: #ccc; /* Set a background color if the image is not available */
margin-right: 10px; /* Add some spacing between the image and other elements */
}

.profile-pic img {
width: 100%;
height: 100%;
object-fit: cover;
}

/* Style the link as needed */
a {
display: inline-block;
text-decoration: none;
}
.comment-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc((100vw *1) / 100);
  border: none;
  background-color:None; /* Adjust the background color as needed */
  color:Blue; /* Adjust the text color as needed */
  font-size: calc((100vw *5) / 100); 
  margin-left:calc((100vw *78) / 100);/* Adjust the font size as needed */
}

/* Media query for screen size below 700px */
@media (max-width: 700px) {
.profile-pic {
width: 40px; /* Adjust the size for smaller screens */
height: 40px;
}
}

.search-form {
display: flex;
justify-content: center; /* Adjust as needed */
}

.search-bar {
position: relative;
}

.search-input {
padding: calc((100vw *2) / 100) calc((100vw *2) / 100) calc((100vw *2) / 100) calc((100vw *2) / 100); /* Adjust the padding as needed */
border: none;
border-radius: calc((100vw *2) / 100);
}

.search-input:focus::placeholder {
color: transparent;
}
.search-input:not(:placeholder-shown) + .search-button {
display: none;
}

.search-button {
position: absolute;
right: 0;
background-color: transparent;
border: none;
padding: calc((100vw *2) / 100);
}

.fa-search {
font-size: calc((100vw *2) / 100);
}


.post-section {
  margin: 0 auto;
  padding: 0 calc((100vw *2) / 100);
}

.post {
  margin-bottom: calc((100vw *1) / 100);
  border: 1px solid #ddd;
  padding: calc((100vw *1) / 100);
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: calc((100vw *2) / 100);
}

.post-actions {
  display: flex;
  align-items: center;
}


header{
  padding:calc((100vw *2) / 100);
}
main .circle{
  margin-left:calc((100vw *2) / 100);
  margin-bottom:0px;
  
}
.like-me .thumbs-up {
  font-size: calc((100vw *2) / 100); /* Adjust the size as needed */
  margin-left:calc((100vw *2) / 100);
}
#likes{
  margin-left:calc((100vw *2) / 100);
}
 #about{
  margin-top:calc((100vw *2) / 100);
  margin-left:calc((100vw *1) / 100);
  margin-right:calc((100vw *1) / 100);
  padding-left:calc((100vw *2) / 100);
  word-wrap: break-word;
  width:95%;
  max-width: calc((100vw *120) / 100);
  font-size:calc((100vw *1) / 100);/* Adjust as needed */
  
} 
.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media queries */
@media (max-width: 1000px) {
  .post-section {
    padding: 0;
  }

  .profile-picture {
    width: 40px;
    height: 20px;
    margin-right: 5px;
  }
}

.circle {
  width: calc((100vw *13) / 100);
  height: calc((100vw *13) / 100);
}

.circle img{
  width: 100px;
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-left:90px;

}


main {
  padding-top:calc((100vw *2) / 100);
}
#logout{
  margin-left:calc((100vw *2) / 100);
  border:none;
  border-radius:calc((100vw *2) / 100);
}
#logout:hover{
  background-color:red;
  color:blue;
}

@media (max-width:1000px) {
  .post-section {
    max-width: 900px; /* Adjust as needed for larger screens */
  }
  .post {
    width:calc((100vw *95) / 100);
    padding-left:calc((100vw *1) / 100);
  }
  main {
    padding-top:calc((100vw *3) / 100);
  }
  body {
    touch-action: pan-y;
    user-select: none;
    -ms-content-zooming: none;
    -ms-touch-action: pan-y;
    -ms-user-select: none;
    -ms-touch-select: none;
    zoom: reset;
    zoom: 1.0;
    max-zoom: 1.0;
    min-zoom: 1.0;
  }
  header{
    padding:calc((100vw *2) / 100);
    padding-top:calc((100vw *2) / 100);
  }
  .space{
         
         max-width:calc((100vw *100) / 100);
         padding:calc((100vw *2) / 100);
         padding-right:calc((100vw *20) / 100);
        
        
  }
  .search-button{
    padding-top:calc((100vw *2) / 100);
    font-size: calc((100vw *2) / 100); 
  }
  .search-bar{
    margin-top:calc((100vw *2) / 100);
    margin-bottom:calc((100vw *2) / 100);
    margin-left:calc((100vw *2) / 100);
    padding-left:calc((100vw *1) / 100);
    
  }
  .search-input{
       width: calc((100vw *20) / 100); /* Adjust the width as needed */
       height: calc((100vw *2) / 100); /* Adjust the height as needed */
       font-size: calc((100vw *2) / 100); /* Adjust the font size as needed */
       padding-left:calc((100vw *100) / 100); 
       
  }
  .like-me .thumbs-up {
    font-size: calc((100vw *7) / 100); /* Adjust the size as needed */
    margin-left:calc((100vw *2) / 100);
    
  }
  #likes{
    margin-left:calc((100vw *2) / 100);
    font-size:calc((100vw *2) / 100);
   
  }
  .btn-home i,
  .btn-post i,
  .btn-notification i {
    font-size: calc((100vw *4) / 100); /* Adjust the size as needed */
  }
  #logout{
    margin-left:calc((100vw *23) / 100);
    margin-top:calc((100vw *2) / 100);
    padding-top:calc((100vw *2) / 100);
    padding-left:calc((100vw *4) / 100);
    padding-right:calc((100vw *4) / 100);
    border-radius:calc((100vw *1) / 100);
    background-color:lightgrey;
    border:none;
    font-size:calc((100vw *3) / 100);

  }
  #a-logout:hover{
    background-color:red;
  }
  .comment-icon {
  margin-bottom:calc((100vw *1) / 100); /* Adjust the spacing between the icon and text */
}

.comment-text {
  font-size:calc((100vw *4) / 100); /* Adjust the font size as needed */
}

}
.image-container {
  display: inline-flex;
  align-items: center;
  margin-top:calc((100vw *2) / 100);

}

.image-text {
  margin-left: calc((100vw *2) / 100);
  margin-top:calc((100vw *2) / 100);/* Adjust the margin as needed */
  font-size:calc((100vw *4) / 100);
}
.image-container .circle{
  display: inline-flex;
  align-items: center;
  margin-left:calc((100vw *2) / 100);
}
.image-container img {
  width: 100%; /* Set a fixed width for all images */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure block-level display */
}
.hy{
  margin-top:calc((100vw *10) / 100);
}
.loading {
          filter: blur(15px); /* Apply the blur effect */
          transition: filter 0.3s ease-in-out; /* Add a smooth transition */
        } 
button{
  border:None;
  background-color:transparent;
} 
#likes{
    font-size:calc((100vw *2) / 100);
    margin-top:-100px;
    
}
